<option value="income">Income</option>
<option value="food">Food</option>
<option value="living">Living</option>
<option value="entertainment">Entertainment</option>
<option value="supplies">Supplies</option>
<option value="education">Education</option>
<option value="other">Other</option>