<td><%=transaction.date%></td>
<td><%=transaction.description%></td>
<td><%=transaction.category[0].toUpperCase() + transaction.category.slice(1)%></td>
<td><%=`$${(transaction.amount / 100.0).toFixed(2)}`%></td>