/*
 * James Chase
 * 240325
 * charts.css
 * Styles for the charts page
*/

.chart-container {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem 1rem 0 0;
    /* background-color: blue; */
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem 0 1rem -1rem;
    /* padding: 1rem; */
}

.buttons button {
    margin: 1rem;
    padding: 0.5rem 2rem;
    background-color: #cf801f;
    border-radius: 25%;
}

.buttons button:hover {
    background-color: #f2b90c;
    cursor: pointer;
}

.chart {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1rem -1rem 0rem 1rem;
    padding: 1rem;
    width: 100%;
}

.chart img {
    width: 25%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 5%;
}