/*
 * James Chase
 * 120325
 * history.css
 * Styles for the history page
*/

/* transaction table styles */

table {
    text-align: center;
    width: 80%;
    border-collapse: separate;
    border-spacing: 0;
    margin-left: 10%;
}

thead {
    position: sticky;
    top: -1rem;
    background-color: #dafeb7;
    z-index: 1;
}

th {
    border-bottom: #421f08 solid 2px;
}

tr:nth-child(even) td {
    background-color: #e0845c;
}

/* add transaction button styles */

#add-button {
    background-color: #f1c463; /*cf801f*/
    margin-bottom: .25rem;
}

#add-button:hover {
    background-color: #f2b90c;
}

#add-button:disabled {
    background-color: #ccc;
}

#add-button:hover:disabled {
    cursor: not-allowed;
}
