/* Debugging statement */
/* body {
    background: linear-gradient(#000, #000) no-repeat center/2px 100%;
} */

table {
    text-align: center;
    width: 80%;
    border-collapse: separate;
    border-spacing: 0;
    margin-left: 10%;
}

thead {
    position: sticky;
    top: -1rem;
    background-color: #dafeb7;
    z-index: 1;
}

th {
    border-bottom: #421f08 solid 2px;
}

tr:nth-child(even) td {
    background-color: #e0845c;
}

button:disabled {
    background-color: #ccc;
}

button:hover:disabled {
    cursor: not-allowed;
}
