/* Main content */
main#home {
    width: 70%;
    height: 100%;
}

/* different sections on the home page */
.division {
    padding: 1rem;
    margin: .65rem;
    color: #421f08;
    background-color: #dafeb7;
    border: #421f08 0.25rem solid;
}

/* spending summary chart */
#summary h2 {
    margin-bottom: 1rem;
}

#chart {
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    margin-left: 5%;
    padding: 1rem .25rem;
}

#chart img {
    width: 36%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 5%;
}

/* recent transactions table */

table#transactions {
    width: 70%;
    border-collapse: separate;
    border-spacing: 0 1.5rem;
    margin-left: 5%;
}

/* sidebar */

.sidebar {
    width: 30%;
}

.sidebar h2 {
    margin-bottom: 1rem;
}

.target {
    margin: 1rem;
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 0.5rem;
    height: 1.25rem;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    transition: width 0.5s ease-in-out;
}

.values {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: bold;
}

/* edit sidebar */

#edit-button {
    float: right;
    margin-right: 1rem;
}

#target-config {
    flex-direction: column;
}

.target-input {
    margin: 0rem 0rem 0.5rem 1rem;
}

.target-input input {
    width: 35%;
}

#leniency-selector {
    width: 35%;
}

#form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#save-button, #cancel-button {
    margin: 0.5rem 0.5rem 0rem 1rem;
}
