<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: 'Analytics', stylesheets: ['styles', 'subpage', 'charts'] }) %>
</head>
<body>
<main>
<%- include('partials/header', { title: 'Analytics', goBackLink: "" }) %>
<section>
    <% for (const chart of charts) { %>
        <div class="chart-container">
            <div class="buttons">
                <button>Week</button>
                <button>Month</button>
                <button>Year</button>
            </div>
            <div class="chart">
                <h2><%=chart.name%></h2>
                <img src="<%=chart.image%>" alt="Chart">
            </div>
        </div>
    <% } %>
</section>
</main>
</body>
</html>