<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head', { title: title, stylesheets: ['styles', 'subpage'], scripts: [] }) %>
</head>
<body>
<main id="home">
    <%- include('partials/header', { title: title, goBackLink: link }) %>
    <section>
        <h2><%=message%></h2>
    </section>
</main>
</body>
</html>