<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: 'History' }) %>
    <link rel="stylesheet" href="/history.css">
    <script src="/history.js" defer></script>
</head>
<body>
<main>
<%- include('partials/header', { title: 'Transaction History', goBackLink: "" }) %>
<section>
    <table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Category</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td><button>Add Transaction</button></td>
            <td></td>
            <td></td>
        </tr>
        <% for (const transaction of transactions.reverse()) { %>
            <tr data-transaction="<%=transaction.id%>">
                <%- include('partials/transaction', { transaction }) %>
                <td><button class="edit-button">Edit Transaction</button></td>
            </tr>
        <% } %>
    </tbody>
    </table>
</section>
</main>
</body>
</html>